<div id="about" class="">

  <p>
    Calgary Canada. Coffee-fueled record collector. Fan of all things pasta. 
  </p>
  <br/>
  <p>
    Currently learning Angular 7 and looking for my first developer job.
    Familiar with Ruby and C++. Subjects in the queue: C# and .NET, AWS. 
  </p>
  <br/>
  <p>
    Other interests include audio engineering, architectural acoustic theory, cycling, cooking and gardening.
  </p>
  <br/>
   Follow me on <a href="https://twitter.com/albusrobert">Twitter</a>
</div>