<div id="about" class="">

  <p>
    Calgary Canada. Coffee-fueled record collector. Fan of all things pasta. 
  </p>
  <br/>
  <p>
    Experience with TypeScript, Angular 2+, NODE.js, serverless technologies.
    Familiar with: webpack, npm, git, HTML5, CSS3, Ruby, C++, Linux
  </p>
  <br/>
  <p>
    Other interests include audio engineering, architectural acoustic theory, cycling, cooking and gardening.
  </p>
  <br/>
   Follow me on <a href="https://twitter.com/albusrobert" target="_blank">Twitter</a>
</div>