.project {
    border-bottom: 1px solid; 
    border-right: 1px solid;
    padding-right: 30px;
}
.title {
    display: inline-block;
    margin-right: 10px;
}
.tag {
    font-size: .8rem;
    display: inline-block;
    margin: 1px 5px 1px 0px;
    padding: 1px 5px;
    background-color: var(--black);
    color: var(--white);
    transform: skew(-0.3rad, -1deg);
    border-radius: 10% 0%;
    position: relative;
    top: -6px;
}
.projectLink{
    margin: 0px;
}
.moreOrLess {
    display: inline-block;
    margin: 0;
    transform: skewX(-0.3rad);
}
.smallAndLight{
    font-size: .8rem; 
    color: var(--black-light);
    top: -60px;
}
.mobile-linebreak {
    display: none;
}
@media (max-width: 800px) {
    .mobile-linebreak {
        display: inline;
    }
}
