.project {
    border-bottom: 1px solid; 
    border-right: 1px solid;
    padding-right: 30px;

    .content-project-title {
        display: inline-block;
        margin: 1.5rem 0em;
        font-size: 1.5em;
        line-height: 2em;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);

    }
    .content-tags{
        // effectively: remove all padding/margin
        padding: 0px;
        margin: 1px 0px -10px 5px;
    }
    .content-description {

        font-style: italic;
        margin: 1.5rem 0em;
    }
    
    .content-tag {
        font-size: .8rem;
        display: inline-block;
        margin: 1px 5px 1px 0px;
        padding: 1px 5px;
        background-color: var(--black);
        color: var(--white);
        transform: skew(-0.3rad, -1deg);
        border-radius: 10% 0%;
        position: relative;
        top: -6px;
    }
    h4 {
        padding-top: 1em;
        font-size: 1.4em;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
    h5 {
        font-size: 1.4em;

    }
}


.content-pretty-link {
    display: block;
    //a { display: inline; }
}
.content-repo, .content-live-app{
    margin: 0px;
}
.moreOrLess {
    display: inline-block;
    margin: 0;
    transform: skewX(-0.3rad);
}
.smallAndLight{
    font-size: .8rem; 
    color: var(--black-light);
    top: -60px;
}
.mobile-linebreak {
    display: none;
}
@media (max-width: 800px) {
    .mobile-linebreak {
        display: inline;
    }
}
