<div class=navigation>
  <a [routerLink]="'/'"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact:true}"
    class="navLink">about</a>

  <a [routerLink]="['/projects']"
    [routerLinkActive]="['active']"
    class="navLink">projects</a>

  <!-- <a [routerLink]="['/contact']"
    [routerLinkActive]="['active']"
    class="navLink">contact</a> -->

  <a href="https://github.com/RobertAlbus"
    target="_blank" class="navLink">github</a>

  <a href="https://twitter.com/albusrobert"
    target="_blank" class="navLink">twitter</a>
</div>
